<!-- IF false -->
This file contains main menu.

Edit it as text file, not as HTML because WYSIWYG editors (such as Dreamweaver) tend to mess up phpBB template syntax.

After changing this file and uploading it on server, open your forum in browser, go to admin control panel and click "purge cache" button on control panel index.
<!-- ENDIF -->

<!-- IF U_RESTORE_PERMISSIONS -->
<ul class="menu">
	<li class="menu-item menu-login active"><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li>
</ul>
<!-- ENDIF -->

<ul class="menu">
	<li class="menu-item menu-home<!-- IF SCRIPT_NAME == 'index' and not .navlinks --> active<!-- ENDIF -->"><a href="{U_INDEX}">{L_INDEX}</a></li>
	<!-- BEGIN navlinks -->
		<li class="menu-item menu-forum<!-- IF navlinks.S_LAST_ROW --> active<!-- ENDIF -->"><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li>
	<!-- END navlinks -->
</ul>

<ul class="menu">
	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
		<!-- IF S_DISPLAY_PM -->
			<li class="menu-item menu-pm<!-- IF SCRIPT_NAME == 'ucp' and $UCP_PM --> active<!-- ENDIF -->"><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a></li>
		<!-- ENDIF -->
		<li class="menu-item menu-ucp<!-- IF SCRIPT_NAME == 'ucp' and not $UCP_PM --> active<!-- ENDIF -->"><a href="{U_PROFILE}">{L_PROFILE}</a></li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and S_DISPLAY_MEMBERLIST -->
		<li class="menu-item menu-users<!-- IF SCRIPT_NAME == 'memberlist' --> active<!-- ENDIF -->"><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
	<!-- ENDIF -->
	<li class="menu-item menu-faq<!-- IF SCRIPT_NAME == 'faq' --> active<!-- ENDIF -->"><a href="{U_FAQ}">{L_FAQ}</a></li>
	<!-- IF S_USER_LOGGED_IN -->
		<li class="menu-item menu-login<!-- IF SCRIPT_NAME == 'ucp' and not S_USER_LOGGED_IN --> active<!-- ENDIF -->"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
	<!-- ENDIF -->
</ul>

<!-- IF not S_USER_LOGGED_IN and not $STYLE_HEADER_LOGIN -->
<ul class="menu">
	<li class="menu-item menu-section<!-- IF SCRIPT_NAME == 'ucp' --> active<!-- ENDIF -->"><p>{L_LOGIN_LOGOUT}</p></li>
	<!-- IF S_LOGIN_ACTION -->
	<li class="menu-form">
		<form action="{S_LOGIN_ACTION}" method="post" id="phpbb-menu-login">
		<fieldset>
			<input class="inputbox login" type="text" name="username" value="" title="{L_USERNAME}" required><br />
			<input class="inputbox password" type="password" name="password" value="" title="{L_PASSWORD}" required><br />
			<!-- IF S_AUTOLOGIN_ENABLED --><p class="autologin"><label><input type="checkbox" name="autologin"> {L_LOG_ME_IN}</label></p><!-- ENDIF -->
			<div class="buttons">
				<input type="hidden" name="login" value="{L_LOGIN}" />
				<a class="icon-login" href="javascript:void(0);" onclick="$('#phpbb-menu-login').get(0).submit(); return false;"><span></span>{L_LOGIN}</a>
				<!-- IF S_REGISTER_ENABLED --> <a class="icon-register" href="{U_REGISTER}"><span></span>{L_REGISTER}</a><!-- ENDIF -->
			</div>
		</fieldset>
		</form>
	</li>
	<!-- ENDIF -->
</ul>
<!-- ENDIF -->

<!-- IF S_DISPLAY_SEARCH and not S_IS_BOT -->
<ul class="menu menu-nopadding">
	<li class="menu-item menu-section expandable<!-- IF S_USER_LOGGED_IN --> collapsed<!-- ENDIF --><!-- IF SCRIPT_NAME == 'search' --> active<!-- ENDIF -->"><a>{L_SEARCH}</a></li>
</ul>
<ul class="menu"<!-- IF S_USER_LOGGED_IN --> style="display: none;"<!-- ENDIF -->>
	<li class="menu-form">
		<form action="{U_SEARCH}" method="post">
		<fieldset>
			<input class="button-icon search" type="submit" value="{L_SEARCH}" title="{L_SEARCH}">
			<input class="inputbox search" type="text" name="keywords" maxlength="128" value="{SEARCH_WORDS}" required>
		</fieldset>
		{S_SEARCH_HIDDEN_FIELDS}
		</form>
	</li>
	<li class="menu-item"><a href="{U_SEARCH}">{L_SEARCH_ADV}</a></li>
	<!-- IF U_SEARCH_UNANSWERED --><li class="menu-item"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li><!-- ENDIF -->
	<!-- IF S_LOAD_UNREADS --><li class="menu-item"><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
	<!-- IF U_SEARCH_NEW and S_USER_LOGGED_IN and not S_IS_BOT --><li class="menu-item"><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
	<!-- IF U_SEARCH_ACTIVE_TOPICS --><li class="menu-item"><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li><!-- ENDIF -->
	<!-- IF S_USER_LOGGED_IN --><li class="menu-item"><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->
