<!-- IF false -->
This file contains header.
Links block below header is disabled by default, remove lines 15 (if false) and 38 (endif) to enable it.

Edit it as text file, not as HTML because WYSIWYG editors (such as Dreamweaver) tend to mess up phpBB template syntax.

After changing this file and uploading it on server, open your forum in browser, go to admin control panel and click "purge cache" button on control panel index.
<!-- ENDIF -->

<div class="logo">
	<a href="{U_INDEX}">{SITE_LOGO_IMG}</a>
	<h1>{PAGE_TITLE}</h1>
</div>

<div class="top-links">

	<div class="popup-trigger">
		<a class="top-link" href="#"><span>Style Features</span></a>
		<div class="popup popup-list">
		<ul>
			<li class="popup-trigger">
				<a class="popup-link" href="#">Custom navigation blocks</a>
				<div class="popup">
					<p class="title">Navigation blocks</p>
					<p>
						This style has several customizable navigation blocks:</p>
					<p>
						- Header navigation (this menu)<br />
						- Left side bar.<br />
						- Right side bar (not shown by default).
					</p>
					<p class="title">Header navigation</p>
					<p>Header navigation can have several types of items:</p>
					<p>
						- Simple links (see "Hide Menu" on right)<br />
						- Popups with content (this menu)<br />
						- Popups with list of links (parent menu)<br />
						- Popups with list of links can have children popup menus (like this)
					</p>
					<p class="title">Side bars</p>
					<p>
						Left and right sidebars can have any content. You can put ads, links,<br />
						forms there. You can separate content into sections (see "Search" or<br />
						"Login" sections on left).
					</p>
				</div>
			</li>
			<li class="popup-trigger">
				<a class="popup-link" href="#">Custom colors</a>
				<div class="popup">
					<p class="title">Color variations</p>
					<p>
						Style comes with only 7 predefined color variations that<br />
						you can preview by clicking color buttons on the right,<br />
						but you can create many more color variations yourself.
					</p>
					<p class="title">Editing colors</p>
					<p>
						To create your own color variation to match your website,<br />
						use ColorizeIt online style editor. Follow <a href="http://www.colorizeit.com/colorizeit.html?sample=http://www.artodia.com/images/colorizeit/helion.gif&amp;colors=H61a4f90|H6bc2a2a">this link</a>.
					</p>
					<p>
						ColorizeIt editor allows you to change color's hue<br />
						component to whatever you want and you can also change<br />
						lightness and saturation to some extent.
					</p>
					<p>
						Unlike color pickers that you see in WordPress themes,<br />
						ColorizeIt editor changes not only CSS files, but also<br />
						images. Downside is you cannot select specific link or<br />
						part of forum - editor changes all colors with same hue.<br />
						To change a specific link you'll need to edit CSS files.
					</p>
					<p class="title">Tutorial</p>
					<p>
						Tutorial is <a href="http://www.artodia.com/docs/manual_helion/index.php#change-colors">available in documentation</a>.
					</p>
				</div>
			</li>
			<li class="popup-trigger">
				<a class="popup-link" href="#">Compatible with prosilver</a>
				<div class="popup">
					<p class="title">Compatibility</p>
					<p>
						This style uses prosilver (default phpBB 3 style) template files,<br />
						which means it is compatible with most phpBB 3 mods.
					</p>
					<p>
						Note: installing mods might require some tweaking because theme<br />
						(css) files are different from prosilver style.
					</p>
				</div>
			</li>
			<li class="popup-trigger">
				<a class="popup-link" href="#">Easy to integrate</a>
				<div class="popup">
					<p class="title">Integration</p>
					<p>
						This style is written in HTML5 and uses jQuery, making it easier to<br />
						add your favorite slideshows and custom menus.
					</p>
					<p>
						All CSS selectors start with ".phpbb", removing potential CSS conflicts<br />
						with custom menus or wrappers, making it easier to integrate forum into<br />
						existing website layout.
					</p>
				</div>
			</li>
			<li class="popup-trigger">
				<a class="popup-link" href="#">More features:</a>
				<div class="popup">
					<p class="title">Other features</p>
					<p>
						This style has few nice features that most other phpBB styles do not have.<br />
						Most of these features have big impact on usability, making forum much easier<br />
						to use.
					</p>
					<p class="title">Collapsable categories</p>
					<p>
						You can show/hide categories on forum index, browser will remember your<br />
						selection and style will hide selected categories on every page load.
					</p>
					<p class="title">New private messages notification</p>
					<p>
						This style has a custom block that notifies you on new private message.<br />
						phpBB uses popup window to do that, but these days most users have popup<br />
						blockers and might miss new private message. This style will show a big<br />
						warning below top navigation informing you about new or unread private message(s).
					</p>
					<p class="title">Profile on left side</p>
					<p>
						Poster's profile is shown on the left side, like in other forum systems.<br />
						Each poster has default avatar that you can customize and poster's links<br />
						(such as home page, icq, msn) are shown in popup.
					</p>
					<p class="title">Highlighting new posts</p>
					<p>
						Forums with new posts not only have custom image, but are also highlighted<br />
						with a different color, making it easier to see where new posts are.
					</p>
				</div>
			</li>
			</ul>
		</div>
	</div>
	
	<div class="popup-trigger">
		<a class="top-link" href="#"><span>Sample Colors:</span></a>
		<div class="popup">
					<p class="title">Color variations</p>
					<p>
						Style comes with only 7 predefined color variations that<br />
						you can preview by clicking color buttons on the right,<br />
						but you can create many more color variations yourself.
					</p>
					<p class="title">Editing colors</p>
					<p>
						To create your own color variation to match your website,<br />
						use ColorizeIt online style editor. Follow <a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/251.helion.html">this link</a>.
					</p>
					<p>
						ColorizeIt editor allows you to change color's hue<br />
						component to whatever you want and you can also change<br />
						lightness and saturation to some extent.
					</p>
					<p>
						Unlike color pickers that you see in WordPress themes,<br />
						ColorizeIt editor changes not only CSS files, but also<br />
						images. Downside is you cannot select specific link or<br />
						part of forum - editor changes all colors with same hue.<br />
						To change a specific link you'll need to edit CSS files.
					</p>
					<p class="title">Tutorial</p>
					<p>
						Tutorial is <a href="http://www.artodia.com/docs/manual_helion/index.php#change-colors">available in documentation</a>.
					</p>
		</div>
	</div>

	<a class="top-link-color<!-- IF STYLE_ID == 44 or STYLE_ID == 51 --> selected<!-- ENDIF -->" href="index.php?style=44" data-colors="1A4F90,BC2A2A"><span>Sample color scheme: blue / red (default)</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 45 --> selected<!-- ENDIF -->" href="index.php?style=45" data-colors="216D77,BC2A2A"><span>Sample color scheme: cyan / red</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 46 --> selected<!-- ENDIF -->" href="index.php?style=46" data-colors="42485F,D48926"><span>Sample color scheme: dark blue / orange</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 47 --> selected<!-- ENDIF -->" href="index.php?style=47" data-colors="555555,BC2A2A"><span>Sample color scheme: gray / red</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 48 --> selected<!-- ENDIF -->" href="index.php?style=48" data-colors="18824F,D8832E"><span>Sample color scheme: green / orange</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 49 --> selected<!-- ENDIF -->" href="index.php?style=49" data-colors="ad2f2f,b77428"><span>Sample color scheme: red / orange</span></a>
	<a class="top-link-color<!-- IF STYLE_ID == 50 --> selected<!-- ENDIF -->" href="index.php?style=50" data-colors="661885,C32B40"><span>Sample color scheme: purple / red</span></a>
	
	<!-- IF STYLE_ID == 44 -->
		<a class="top-link" href="index.php?style=51"><span>Show Right Sidebar</span></a>
	<!-- ELSEIF STYLE_ID == 51 -->
		<a class="top-link" href="index.php?style=44"><span>Hide Right Sidebar</span></a>
	<!-- ENDIF -->
	
	<a href="javascript:void(0);" onclick="$('.top-links').slideUp(200, function() { $('.top-links').remove(); phpBB.resizeContent(); }); return false;" class="top-link"><span>Hide Menu</span></a>

</div>
