<!-- IF false -->
This file contains header.
Links block below header is disabled by default, remove lines 15 (if false) and 38 (endif) to enable it.

Edit it as text file, not as HTML because WYSIWYG editors (such as Dreamweaver) tend to mess up phpBB template syntax.

After changing this file and uploading it on server, open your forum in browser, go to admin control panel and click "purge cache" button on control panel index.
<!-- ENDIF -->

<div class="logo">
	<a href="{U_INDEX}">{SITE_LOGO_IMG}</a>
	<h1>{PAGE_TITLE}</h1>
</div>

<!-- IF false -->
<div class="top-links">

	<a class="top-link" href="http://www.colorizeit.com/index.html"><span>ColorizeIt</span></a>
	<a class="top-link" href="http://www.artodia.com/index.html"><span>Artodia</span></a>
	
	<div class="popup-trigger">
		<a class="top-link" href="#"><span>Popup Sample: block</span></a>
		<div class="popup">
			Put your popup content here
		</div>
	</div>
	
	<div class="popup-trigger">
		<a class="top-link" href="#"><span>Popup Sample: links</span></a>
		<div class="popup popup-list"><ul>
			<li class="popup-link"><a href="#">Link 1</a></li>
			<li class="popup-link"><a href="#">Another Link</a></li>
			<li class="popup-link"><a href="#">Link 3</a></li>
		</ul></div>
	</div>

</div>
<!-- ENDIF -->