<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH or U_MCP or (U_MARK_FORUMS and not S_IS_BOT) -->
<div class="navbar">
	<!-- IF S_DISPLAY_SEARCH -->
		<div class="left">
			<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
			<!-- IF S_LOAD_UNREADS --> <span class="bull">&bull;</span> <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a> <!-- ENDIF -->
			<!-- IF S_USER_LOGGED_IN --> <span class="bull">&bull;</span> <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> <!-- ENDIF -->
			<span class="bull">&bull;</span> <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
		</div>
	<!-- ENDIF -->
	<!-- IF U_MCP -->
		<div class="right">
			<a href="{U_MCP}">{L_MCP}</a>
			<!-- IF U_MARK_FORUMS -->
				<span class="bull">&bull;</span> <a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
			<!-- ENDIF -->
		</div>
		<!-- IF not S_DISPLAY_SEARCH --><div class="clear"></div><!-- ENDIF -->
	<!-- ELSEIF U_MARK_FORUMS and not S_IS_BOT -->
		<div class="right">
			<a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
		</div>
		<!-- IF not S_DISPLAY_SEARCH --><div class="clear"></div><!-- ENDIF -->
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF S_DISPLAY_ONLINE_LIST or (S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST) or NEWEST_USER -->
<div class="panel stats">
	<div class="inner">
		<!-- IF S_DISPLAY_ONLINE_LIST -->
			<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
			<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}</p>
			<p>{LOGGED_IN_USER_LIST}</p>
			<!-- IF LEGEND --><p><em>{L_LEGEND}: {LEGEND}</em></p><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF NEWEST_USER -->
			<h3>{L_STATISTICS}</h3>
			<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
			<h3>{L_BIRTHDAYS}</h3>
			<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->


<!-- INCLUDE overall_footer.html -->