<!DOCTYPE html>
<!--[if lt IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie oldie ie7"><![endif]-->
<!--[if IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie oldie"><![endif]-->
<!--[if gt IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie"><![endif]-->
<!--[if !(IE)]><!--><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}"><!--<![endif]-->
<head>
	<meta charset="{S_CONTENT_ENCODING}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{META}
	<!-- IF S_ENABLE_FEEDS -->
		<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
	<!-- ENDIF -->
<!--
   phpBB style name:    Artodia Black
   Based on style:      prosilver (this is the default phpBB3 style)
   Prosilver author:    Tom Beddard ( http://www.subBlue.com/ )
   Artodia Black author: Vjacheslav Trushkin ( http://www.artodia.com/ )
-->
	<title>{SITENAME} - {PAGE_TITLE}</title>
	<link rel="stylesheet" href="{T_STYLESHEET_LINK}">
	<!-- INCLUDE scripts_header.html -->
</head>
<body class="phpbb section-{SCRIPT_NAME}">

<div class="wrap-top" id="wrap">
	<div class="wrap-top-top"></div>
	<div class="wrap-top-mid"></div>
</div>

<div class="content-wrapper">
	<ul class="page-header">
		<li class="logo">
			<a href="{U_INDEX}">{SITE_LOGO_IMG}</a>
		</li>
		<li class="site-title">
			<h1>{SITENAME}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</li>
	</ul>
	<div class="page-content">

		<!-- IF S_USER_LOGGED_IN -->
		<p class="time first">
			{LAST_VISIT_DATE}
		</p>
		<p class="time">
			{CURRENT_TIME}
		</p>
		<!-- ENDIF -->

		<ul class="menu left">
			<li class="nav-jumpbox<!-- IF SCRIPT_NAME == 'index' and not .navlinks --> active<!-- ENDIF -->"><a href="{U_INDEX}" title="{L_INDEX}" class="menu-home"><span>{L_INDEX}</span></a></li>
			<!-- BEGIN navlinks(-2) -->
				<li class="nav-forum <!-- IF navlinks.S_LAST_ROW --> active<!-- ENDIF -->"><a href="{navlinks.U_VIEW_FORUM}" class="menu-forum"><span>{navlinks.FORUM_NAME}</span></a></li>
			<!-- END navlinks -->
		</ul>

		<ul class="menu right">
			<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}" class="menu-login"><span>{L_RESTORE_PERMISSIONS}</span></a></li><!-- ENDIF -->
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
				<!-- IF S_DISPLAY_PM -->
					<li<!-- IF SCRIPT_NAME == 'ucp' and $UCP_PM --> class="active"<!-- ENDIF -->><a href="{U_PRIVATEMSGS}" class="menu-pm">{PRIVATE_MESSAGE_INFO}</a></li>
				<!-- ENDIF -->
				<li<!-- IF SCRIPT_NAME == 'ucp' and not $UCP_PM --> class="active"<!-- ENDIF -->><a href="{U_PROFILE}" title="{L_PROFILE}" class="menu-ucp"><span>{L_PROFILE}</span></a></li>
			<!-- ENDIF -->
			<!-- IF S_DISPLAY_SEARCH -->
				<li class="popup-trigger<!-- IF SCRIPT_NAME == 'search' --> active<!-- ENDIF -->">
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="menu-search"><span>{L_SEARCH}</span></a>
					<div class="popup">
						<form action="{U_SEARCH}" method="post">
						<fieldset class="nowrap">
							<input class="inputbox" type="text" name="keywords" maxlength="128" value="{SEARCH_WORDS}" required>
							<input class="button1" type="submit" value="{L_SEARCH}">
						</fieldset>
						{S_SEARCH_HIDDEN_FIELDS}
						</form>
						<p class="right nowrap"><a class="link" href="{U_SEARCH}">{L_SEARCH_ADV}</a></p>
					</div>
				</li>
			<!-- ENDIF -->
			<!-- IF not S_IS_BOT and S_DISPLAY_MEMBERLIST -->
				<li<!-- IF SCRIPT_NAME == 'memberlist' --> class="active"<!-- ENDIF -->><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST}" class="menu-users"><span>{L_MEMBERLIST}</span></a></li>
			<!-- ENDIF -->
			<li<!-- IF SCRIPT_NAME == 'faq' --> class="active"<!-- ENDIF -->><a href="{U_FAQ}" title="{L_FAQ}" class="menu-faq"><span>{L_FAQ}</span></a></li>
			<!-- IF not S_USER_LOGGED_IN and (S_REGISTER_ENABLED or S_LOGIN_ACTION) -->
				<li class="popup-trigger<!-- IF SCRIPT_NAME == 'ucp' and not S_USER_LOGGED_IN --> active<!-- ENDIF -->">
					<a href="{U_LOGIN_LOGOUT}" class="menu-login"><span>{L_LOGIN_LOGOUT}<!-- IF S_REGISTER_ENABLED --> <em>|</em> {L_REGISTER}<!-- ENDIF --></span></a>
					<div class="popup">
						<!-- IF S_LOGIN_ACTION -->
							<form action="{S_LOGIN_ACTION}" method="post">
							<fieldset>
							<dl>
								<dt>{L_USERNAME}:</dt>
								<dd><input class="inputbox" type="text" name="username" value="" required></dd>
							</dl>
							<dl>
								<dt>{L_PASSWORD}:</dt>
								<dd><input class="inputbox" type="password" name="password" value="" required></dd>
							</dl>
							<!-- IF S_AUTOLOGIN_ENABLED --><p class="nowrap right"><label><input type="checkbox" name="autologin"> {L_LOG_ME_IN}</label></p><!-- ENDIF -->
							<p class="right">
								<input class="button1" type="submit" name="login" value="{L_LOGIN}">
								<!-- IF S_REGISTER_ENABLED --> <a class="button2" href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF -->
							</p>
							<!-- IF U_SEND_PASSWORD -->
								<p class="right"><a class="button2" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></p>
							<!-- ELSE -->
								<p class="right" style="display: none;" id="phpbb-sendpass">
									<span class="data-register">{U_REGISTER}</span>
									<span class="data-forgot">{L_FORGOT_PASS}</span>
								</p>
							<!-- ENDIF -->
							</fieldset>
							</form>
						<!-- ELSE -->
							<p class="right">
								<a class="button1" href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED --> <a class="button2" href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF -->
							</p>
						<!-- ENDIF -->
					</div>
				</li>
			<!-- ELSE -->
				<li<!-- IF SCRIPT_NAME == 'ucp' and not S_USER_LOGGED_IN --> class="active"<!-- ENDIF -->><a href="{U_LOGIN_LOGOUT}" class="menu-login"><span>{L_LOGIN_LOGOUT}</span></a></li>
			<!-- ENDIF -->
			<!-- IF S_DISPLAY_SEARCH and (U_SEARCH_ACTIVE_TOPICS or S_USER_LOGGED_IN) and not S_IS_BOT -->
			<li class="popup-trigger"><a href="javascript:void(0);" class="menu-down"></a>
				<div class="popup popup-list"><ul>
					<!-- IF U_SEARCH_UNANSWERED --><li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li><!-- ENDIF -->
					<!-- IF S_LOAD_UNREADS --><li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
					<!-- IF U_SEARCH_NEW and S_USER_LOGGED_IN and not S_IS_BOT --><li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
					<!-- IF U_SEARCH_ACTIVE_TOPICS --><li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN --><li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
				</ul></div>
			</li>
			<!-- ENDIF -->
		</ul>
		
		<div class="clear"></div>
		
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ELSEIF S_USER_LOGGED_IN and (S_USER_NEW_PRIVMSG or S_USER_UNREAD_PRIVMSG) -->
		<div id="information" class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<!-- IF S_USER_NEW_PRIVMSG -->
					<a href="{U_PRIVATEMSGS}"><!-- IF S_USER_NEW_PRIVMSG > 1 -->{L_YOU_NEW_PMS}<!-- ELSE -->{L_YOU_NEW_PM}<!-- ENDIF --></a>
				<!-- ELSE -->
					<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a>
				<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		