<!-- IF S_JUMPBOX_ACTION and .jumpbox_forums -->
	<!-- DEFINE $JUMPBOX = 1 -->
<!-- ELSEIF .forumrow -->
	<!-- DEFINE $JUMPBOX = 2 -->
<!-- ENDIF -->
<script>

	var phpBB = {
		currentPage: '{$CURRENT_PAGE}',
		themePath: '{T_THEME_PATH}',
		lang: '{S_USER_LANG}'
	};

	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	/**
	* Find a member
	*/
	function find_username(url)
	{
		popup(url, 760, 570, '_usersearch');
		return false;
	}

	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	};

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	};

</script>
<script src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>

<!-- IF $S_POSTING_JS -->
<script type="text/javascript">
// <![CDATA[
	onload_functions.push('apply_onkeypress_event()');

	var form_name = 'postform';
	var text_name = <!-- IF $SIG_EDIT -->'signature'<!-- ELSE -->'message'<!-- ENDIF -->;
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		l: '{LA_BBCODE_L_HELP}',
		o: '{LA_BBCODE_O_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',
		f: '{LA_BBCODE_F_HELP}',
		y: '{LA_BBCODE_Y_HELP}',
		d: '{LA_BBCODE_D_HELP}'
		<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
		<!-- END custom_tags -->
	}

	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';

    function change_palette()
    {
        dE('colour_palette');
        e = document.getElementById('colour_palette');
        
        if (e.style.display == 'block')
        {
            document.getElementById('bbpalette').value = '{LA_FONT_COLOR_HIDE}';
        }
        else
        {
            document.getElementById('bbpalette').value = '{LA_FONT_COLOR}';
        }
    }
	onload_functions.push('colorPalette(\'h\', 15, 10);');

// ]]>
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>
<!-- ENDIF -->
