<!DOCTYPE html>
<!--[if lt IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie oldie ie7"><![endif]-->
<!--[if IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie oldie"><![endif]-->
<!--[if gt IE 8]><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" class="ie"><![endif]-->
<!--[if !(IE)]><!--><html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}"><!--<![endif]-->
<head>
	<meta charset="{S_CONTENT_ENCODING}">
	{META}
	<title>{SITENAME} - {PAGE_TITLE}</title>
	<link rel="stylesheet" href="{T_STYLESHEET_LINK}">
	<!-- DEFINE $SIMPLE = true -->
	<!-- INCLUDE scripts_header.html -->
</head>
<body class="phpbb simple">

<div id="simple-wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-body">