/*
	Colours, URLs
*/

.phpbb {
	color: #bbb;
}

.phpbb h2, .phpbb h3 {
	color: #4398ef;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.phpbb hr {
	border-top-color: #000;
}



/*
	Links
*/
.phpbb a, .phpbb a:visited { 
	color: #4398ef;
}
.phpbb a:hover, .phpbb a:active {
	color: #f04343;
}

.phpbb a.forumtitle, .phpbb a.topictitle {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/*
	Layout
*/
body.phpbb, body.simple {
	background: #181818;
}

.phpbb .wrap-top-top {
	background-color: #163b60;
	background-image: url("{T_THEME_PATH}/images/bg_top.png");
}
.phpbb .wrap-top-mid {
	background-color: #000;
	background-image: url("{T_THEME_PATH}/images/bg_mid.png");
}

.phpbb .page-header h1, .phpbb .page-header h2 {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(29, 77, 126, 0.4);
}

.phpbb .page-content {
	background-color: #181818;
}

.phpbb .footer {
	border-top-color: #102031;
	background-color: #163b60;
	background-image: url("{T_THEME_PATH}/images/pattern.png");
}
.phpbb .footer, .phpbb .footer a, .phpbb .footer a:visited {
	color: #8b9db0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.phpbb .footer a:hover {
	color: #fff;
}

.phpbb .footer .arty, .phpbb .footer .phpbb-group {
	background-image: url("{T_THEME_PATH}/images/copyrights.png");
}

/*
	Menu
*/

.phpbb .time {
	color: #999;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.phpbb .menu > li > a, .phpbb .menu > li > a:before, .phpbb .menu > li > a:after {
	background-image: url("{T_THEME_PATH}/images/menu.png");
	color: #fff;
}
.phpbb .menu > li.active > a, .phpbb .menu > li:hover > a, .phpbb .menu > li:hover > a {
	color: #fff;
}

/*
	Navbar
*/
.phpbb .navbar, .phpbb .linkmcp {
	border-color: #000;
	background-color: #303030;
	background-image: url("{T_THEME_PATH}/images/white25_05.png");
	color: #bbb;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*
	Popups
*/
.phpbb .popup {
	background-color: rgba(56, 56, 56, 0.9);
	border-color: #000;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.oldie .phpbb .popup {
	background-color: #383838;
}
.phpbb .popup-list li > a:first-child, .phpbb .popup-list li.nolink {
	color: #fff;
	border-color: #202020;
	background-color: #202020;
}
.phpbb .show-levels li.level-root > a:first-child {
	color: #fff;
	border-color: #163b60;
	background-color: #163b60;
}
.phpbb .popup-list li.row-new > a:first-child {
	color: #fff;
	border-color: #af1818;
	background-color: #af1818;
}
.phpbb .popup-list li > a:first-child:hover, .phpbb .popup-list li.row-new > a:first-child:hover, .phpbb .show-levels li.level-root > a:first-child:hover {
	color: #fff;
	border-color: #1964b0;
	background-color: #1964b0;
}

/*
	Forms
*/
.phpbb input[type="text"], .phpbb input[type="password"], .phpbb input[type="email"], .phpbb textarea, .phpbb select {
	color: #808080;
	background-color: #333;
	border-color: #000;
}
.phpbb select {
	color: #eee;
}
.phpbb input[type="text"]:hover, .phpbb input[type="password"]:hover, .phpbb input[type="email"]:hover, .phpbb textarea:hover, .phpbb select:hover {
	color: #fff;
	border-color: #1964b0;
}
.phpbb input[type="text"]:focus, .phpbb input[type="password"]:focus, .phpbb input[type="email"]:focus, .phpbb textarea:focus, .phpbb select:focus {
	color: #fff;
	border-color: #4398ef;
}
.phpbb input[type="submit"], .phpbb .button1, .phpbb .button2, .phpbb .buttons a, .phpbb a.button {
	color: #fff !important;
	background-color: #163b60;
	background-image: url("{T_THEME_PATH}/images/buttons_bg.png");
	border-color: #000;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.phpbb input[type="submit"]:hover, .phpbb .button1:hover, .phpbb .button2:hover, .phpbb .buttons a:hover, .phpbb a.button:hover {
	background-color: #af1818;
	border-color: #af1818;
}
.phpbb #search_keywords {
	background-image: url("{T_THEME_PATH}/images/search.png");
	background-color: #181818;
	border-color: #383838;
	color: #808080;
}
.phpbb #search_keywords:hover, .phpbb #search_keywords:focus {
	color: #fff;
	border-color: #4398ef;
}

.phpbb p.error, .phpbb dd.error {
	background-color: #f04343;
}
.phpbb p.error, .phpbb p.error a, .phpbb dd.error, .phpbb dd.error a {
	color: #fff !important;
}


/*
	Buttons
*/
.phpbb #format-buttons .button2 {
	background-color: #163b60;
	background-image: url("{T_THEME_PATH}/images/white25_05.png");
	color: #bbb !important;
	border-color: #181818;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.phpbb #format-buttons .button2:hover {
	background-color: #af1818;
	color: #fff !important;
}

.phpbb .buttons a:after, .phpbb a.button:after {
	background-image: url("{T_THEME_PATH}/images/button_icons.png");
}


/*
	Forums list
*/
.phpbb .topiclist .header, .phpbb h2.header, .oldie .phpbb h2.header, .phpbb table.table1 th, .ie7 .phpbb .topiclist .header dt {
	background-color: #163b60;
	border-color: #000;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.phpbb h2.header {
	background-image: url("{T_THEME_PATH}/images/category.png"), url("{T_THEME_PATH}/images/category.png"), url("{T_THEME_PATH}/images/category.png");
}
.phpbb .topiclist .header, .phpbb .topiclist .header dl, .phpbb .topiclist .header dt, .oldie .phpbb h2.header, .phpbb table.table1 th {
	background-image: url("{T_THEME_PATH}/images/category.png");
}
.phpbb .topiclist .header, .phpbb .topiclist .header a, .phpbb .topiclist .header a:visited, .phpbb h2.header, .phpbb h2.header a, .phpbb h2.header a:visited,
.phpbb table.table1 th, .phpbb table.table1 th a, .phpbb table.table1 th a:visited {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.oldie .phpbb .topiclist .header, .oldie .phpbb .topiclist .header a, .oldie .phpbb .topiclist .header a:visited, .oldie .phpbb h2.header, .oldie .phpbb h2.header a,
.phpbb .topiclist .header a:hover, .phpbb h2.header a:hover, .oldie .phpbb table.table1 th, .oldie .phpbb table.table1 th a, .oldie .phpbb table.table1 th a:visited .phpbb table.table1 th a:hover {
	color: #fff;
}

.ie7 .phpbb .topiclist .header, .ie7 .phpbb .topiclist .header dl {
	background-color: transparent;
	background-image: none;
}


.phpbb .topiclist > li {
	background-color: #383838;
	background-image: url("{T_THEME_PATH}/images/black50_20.png");
	border-color: #000;
}
.phpbb .topiclist > li.row2 {
	background-color: #3a3a3a;
}
.phpbb .topiclist > li.reported {
	border-color: #722727;
}
.phpbb .topiclist dd {
	border-color: #282828;
	color: #bbb;
}
.phpbb .topiclist .topics dfn, .phpbb .topiclist .posts dfn, .phpbb .topiclist .views dfn, .phpbb .topiclist .lastpost dfn, .phpbb .topiclist .by, .phpbb .topiclist .bull {
	color: #999;
}

.phpbb a.topictitle, .phpbb a.forumtitle {
	color: #4398ef;
}
.phpbb a.topictitle:visited {
	color: #1964b0;
}
.phpbb .unread a.topictitle, .phpbb .unread a.forumtitle, .phpbb a.topictitle:hover, .phpbb a.forumtitle:hover, .phpbb a.subforum.unread {
	color: #f04343;
}

.phpbb p.subforums strong, .phpbb p.moderators strong {
	color: #808080;
}

/*
	Blocks
*/
.phpbb .panel, .phpbb .post, .phpbb table.table1 td, .phpbb .cp-mini {
	background-color: #383838;
	border-color: #000;
}
.phpbb .panel, .phpbb .post, .phpbb .cp-mini {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	background-image: url("{T_THEME_PATH}/images/black150_20.png");
}
.phpbb .panel.stats > .inner {
	background-image: url("{T_THEME_PATH}/images/stats.png");
}

.phpbb div.rules, .phpbb .postbody .rules {
	background-color: #383838;
	border-color: #722727;
}
.phpbb div.rules {
	border-color: #000;
}
.phpbb div.rules span+strong {
	color: #af1818;
}

.phpbb .panel-wrapper {
	background-color: transparent;
	background-image: none;
}


/*
	Arrows
*/
.phpbb a.subforum {
	background-image: url("{IMG_ICON_POST_TARGET_SRC}");
}
.phpbb a.subforum.unread {
	background-image: url("{IMG_ICON_POST_TARGET_UNREAD_SRC}");
}
.phpbb a.left {
	background-image: url("{T_THEME_PATH}/images/arrow_left.png");
}
.phpbb a.right {
	background-image: url("{T_THEME_PATH}/images/arrow_right.png");
}
.phpbb a.up {
	background-image: url("{T_THEME_PATH}/images/arrow_up.png");
}
.phpbb a.down {
	background-image: url("{T_THEME_PATH}/images/arrow_down.png");
}

.phpbb .post > .inner > .back2top a {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}


/*
	Pagination
*/
.phpbb .pagination span {
	color: #999;
}
.phpbb .pagination span a, .phpbb .pagination span strong {
	background-color: #1964b0;
	color: #fff;
}
.phpbb .pagination span strong {
	background-color: #af1818;
}
.phpbb .pagination span a:hover {
	background-color: #f04343;
}

/*
	Poll
*/
.phpbb .polls dl {
	border-color: #000;
}
.phpbb .polls dd.resultbar > div {
	color: #fff;
	background-color: #1964b0;
	background-image: url("{T_THEME_PATH}/images/white20.png");
}
.phpbb .polls .voted dd.resultbar > div {
	background-color: #af1818;
}

/*
	Post
*/
.phpbb .poster-rank {
	color: #999;
}
.phpbb .postprofile dd strong, .phpbb .postprofile li > strong, .phpbb .postbody .author {
	font-weight: normal;
	color: #999;
}
.phpbb .profile .poster-avatar.empty {
	background-image: url("{T_THEME_PATH}/images/avatar.png");
}
.phpbb .post > .inner > .postbody {
	border-color: #000;
}

.phpbb .profile-icons a {
	background-image: url("{T_THEME_PATH}/images/buttons_post.png");
}
.phpbb .profile-icons .edit-icon a {
	background-image: url("{IMG_ICON_POST_EDIT_SRC}");
}
.phpbb .profile-icons .quote-icon a {
	background-image: url("{IMG_ICON_POST_QUOTE_SRC}");
}

.phpbb .signature, .phpbb .notice {
	color: #999;
	border-color: #000;
}

.phpbb .posthilit {
	background-color: #721c1c;
	color: #fff !important;
}

/*
	BBCode
*/
.phpbb blockquote, .phpbb blockquote cite, .phpbb .attachbox, .phpbb .attachbox dt, .phpbb .codebox, .phpbb .codebox dt, .phpbb .inline-attachment {
	border-color: #000;
}
.phpbb blockquote, .phpbb .attachbox, .phpbb .codebox, .phpbb .inline-attachment {
	background-color: #303030;
}
.phpbb blockquote blockquote, .phpbb blockquote .attachbox, .phpbb blockquote .codebox {
	background-color: #383838;
}
.phpbb blockquote, .phpbb .attachbox dt, .phpbb .codebox dt {
	color: #bbb;
}
.phpbb blockquote cite {
	color: #999;
}

/*
	Tabs
*/
.phpbb #tabs li a, .phpbb #minitabs li a {
	background-color: #282828;
	border-color: #000;
	color: #bbb;
}
.phpbb #tabs li.activetab a, .phpbb #minitabs li.activetab a, .phpbb #tabs #active-subsection a {
	background-color: #163b60;
	background-image: url("{T_THEME_PATH}/images/white25_05.png");
	color: #fff;
}
.phpbb #tabs li a:hover, .phpbb #tabs li.activetab a:hover, .phpbb #tabs #active-subsection a:hover, .phpbb #minitabs li a:hover, .phpbb #minitabs li.activetab a:hover {
	background-color: #af1818;
	color: #fff;
}

/*
	Control panel
*/
.phpbb .cp-content {
	border-color: #000;
}

.phpbb .pm_marked_colour, .phpbb .topiclist > li.pm_marked_colour > dl dt {
	border-color: #982aaf;
}
.phpbb .pm_replied_colour, .phpbb .topiclist > li.pm_replied_colour > dl dt {
	border-color: #43688e;
}
.phpbb .pm_friend_colour, .phpbb .topiclist > li.pm_friend_colour > dl dt {
	border-color: #2aaf30;
}
.phpbb .pm_foe_colour, .phpbb .topiclist > li.pm_foe_colour > dl dt {
	border-color: #f04343;
}

.phpbb dl.details dt {
	color: #999;
}
 
/*
	Avatars gallery
*/
.phpbb #gallery label:hover {
	border-color: #000;
	background-color: #333;
}

/*
	RSS feed
*/
.phpbb a.feed-icon-forum {
	background-image: url("{T_THEME_PATH}/images/rss.png");
}
