/*
    Header and footer
*/
#header {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #73a8c4;
    background: #3e87ad url({T_THEME_PATH}/images/header_g1.png) top left repeat-x;
    background: url({T_THEME_PATH}/images/header_g2.png) top center repeat-y, #3e87ad url({T_THEME_PATH}/images/header_g1.png) top left repeat-x;
}
.old-ie #header {
    padding-bottom: 0;
}
.old-ie #header .hdr1 {
    background: url({T_THEME_PATH}/images/header_g2.png) top center repeat-y;
    min-height: 25px;
    padding-bottom: 5px;
}

#header a {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 1px;
    text-decoration: none;
    border-width: 0;
}
#header a > img { 
    margin: 0; 
    padding: 0;
    opacity: 1 !important;
}

#header p, #header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Arial;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 2px 1px;
}

#header h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.old-ie #header h1 {
    color: #dbe8ef;
}
#header p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.old-ie #header p {
    color: #dbe8ef;
}


#page-header {
    clear: both;
    margin: 0;
    min-height: 10px;
}

#nav-header, #search-adv {
    display: block;
    float: left;
    z-index: 1;
    margin-left: 5px;
    position: relative;
    top: -16px;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
}
#nav-header a, #nav-header a:visited, #search-adv a, #search-adv a:visited {
    display: block;
    float: left;
    margin: 0 19px 0 4px;
    padding: 0;
    padding-left: 15px;
    line-height: 1em;
    color: #3f7b9a;
    background: url({T_THEME_PATH}/images/menu.png) top left no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
#nav-header a span, #search-adv a span {
    display: inline-block;
    margin: 0;
    margin-right: -15px;
    padding: 0;
    padding-right: 15px;
    padding-top: 9px;
    height: 21px;
    background: url({T_THEME_PATH}/images/menu2.png) top right no-repeat;
    font-size: 14px;
    font-family: Arial;
}

#nav-header a:hover, #nav-header a.new, #search-adv a:hover {
    background-position: bottom left;
}
#nav-header a:hover span, #nav-header a.new span, #search-adv a:hover span {
    background-position: bottom right;
    color: #b42c2c;
}
#nav-header strong { font-weight: normal; }

#search-adv {
    float: right;
    z-index: 1;
    margin-left: 0;
    margin-right: 5px;
}
#search-box {
    position: relative;
    float: right;
    z-index: 1;
    top: -16px;
    width: 174px;
    height: 27px;
    background: url({T_THEME_PATH}/images/header_search.png) 0 0 no-repeat;
    margin: 0 4px;
    padding: 3px 0 0 26px;
}
#search-box:hover { background-position: 0 -40px; }
#search-box form { 
    display: inline; 
    border-width: 0;
    margin: 0;
    padding: 0;
}
.browser-ie #search-box input[type="text"] {
    margin-top: 1px;
}
#search-box input[type="text"] {
    margin: 0;
    padding: 4px 3px;
    border-width: 0;
    border-radius: 0;
    background: transparent;
    height: 16px;
    width: 160px;
    line-height: 1em;
    font-size: 14px;
    font-family: Arial;
    color: #3f7b9a;
    outline-style: none;
    -webkit-appearance: none;
}
#search-box:hover input[type="text"], #search-box input[type="text"]:hover, #search-box input[type="text"]:focus {
    color: #b42c2c;
}
.browser-ie #search-box input[type="text"] {
    height: 14px;
}

/*
    Footer
*/
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: bottom;
    line-height: 1.3em;
    padding: 4px 10px;
    font-size: 11px;
    color: #d9e8ef;
    text-shadow: none;
    border-top: 2px solid #73a8c4;
    background: #3e87ad url({T_THEME_PATH}/images/header_g2.png) top center repeat-y;
    height: 30px;
    overflow: hidden;
}
#footer .copyright:after {
	content: '';
	display: block;
	clear: both;
}
#footer .copyright > strong { 
    display: block;
    clear: both; 
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
}
#footer .copyright a, #footer .copyright a:visited {
    color: #e9f1f5;
}
#footer .copyright a:hover {
    color: #fff;
    text-decoration: underline;
}

body.simple .copyright {
    text-align: center;
    color: #444;
    font-size: 11px;
}

.copyright .copy-left {
    float: left;
    text-align: left;
}
.copyright .copy-right {
    float: right;
    text-align: right;
}

/*
    Wrapper
*/
#page-body { 
    padding: 0 10px 45px;
}
#page-body > p, .section-index #page-body > form { margin: 6px 4px; }
#page-body > p.rightside { margin-top: 0; }
body.simple #page-body > h2.solo {
    margin-top: 10px;
}

/*
    Navigation
*/
.nav-links {
    clear: left;
    position: relative;
    left: 10px;
    top: -6px;
    height: 34px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.nav-links-footer { 
    top: 0; 
    margin-top: 6px;
}
.nav-links a {
    display: block;
    float: left;
    height: 30px;
    padding-right: 15px;
    margin-right: 6px;
    margin-bottom: 5px;
    background: url({T_THEME_PATH}/images/nav.png) right 0 no-repeat;
}
.nav-links a, .nav-links a:visited, .nav-links a:hover, .nav-links a:active {
    outline-style: none;
}
.nav-links a span {
    display: block;
    background: url({T_THEME_PATH}/images/nav2.png) 0 0 no-repeat;
    margin-left: -10px;
    padding-top: 8px;
    padding-left: 14px;
    height: 22px;
    font-size: 14px;
    font-family: Arial;
    line-height: 1em;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    color: #216d94;
}
.nav-links a:first-child span {
    background-image: url({T_THEME_PATH}/images/nav2a.png);
    padding-left: 25px;
}
.nav-links a:hover {
    background-position: right -40px;
}
.nav-links a:hover span {
    background-position: 0 -40px;
    color: #b42c2c;
}

.nav-extra {
    z-index: 2;
    clear: right;
    float: right;
    position: relative;
    top: -8px;
    font-size: 11px;
    margin: 8px;
    color: #666;
}
.nav-extra-footer { top: 0; }
.nav-extra .time { color: #444; }

/*
    Rules
*/
div.rules {
    margin: 6px 0;
    padding: 8px;
    background: #f5dfdf;
    border: solid 2px #cc8f8f;
    border-radius: 10px;
    text-shadow: none;
}
div.rules .inner > strong { 
    color: #216d94; 
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
}
#information, #newpm {
    text-align: center;
    padding: 20px;
}

/*
	Link to switch to mobile style
*/
.mobile-style-switch a {
	padding: 5px 10px 6px;
	border: 2px solid #a5c2d1;
	border-radius: 10px;
	background: #F1F4F5;
}

