/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			Artodia: Elegance Black
	Based on style:		prosilver (the default phpBB 3.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Vjacheslav Trushkin ( http://www.artodia.com/ )
	--------------------------------------------------------------
*/

/*
    Change "none" to "inline-block" (without quotes) to show website title and description in header
*/
#header > p, #header > h1 { display: none; }


/*
    Include css files
*/
@import url("layout_global.css");
@import url("layout_main.css");
@import url("layout_forms.css");
@import url("layout_index.css");
@import url("layout_topic.css");
@import url("layout_pages.css");
@import url("layout_responsive.css");
