/*
	Polish translation for Helion style
*/


/*
	Quote button
*/
.phpbb .profile-icons .quote-icon a {
	background-position: 0 0;
	background-image: url("button_quote.png");
	width: 63px;
}

/*
	Edit button
*/
.phpbb .profile-icons .edit-icon a {
	background-position: 0 0;
	background-image: url("button_edit.png");
	width: 72px;
}
